<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333510438076-opsnmo3n6j7i8k417o5bu5e6jakier8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333510438076-opsnmo3n6j7i8k417o5bu5e6jakier8n</string>
	<key>API_KEY</key>
	<string>AIzaSyBqEmC4xsb2pSuyxzxReg7XPun7sO1WrZc</string>
	<key>GCM_SENDER_ID</key>
	<string>333510438076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test</string>
	<key>PROJECT_ID</key>
	<string>trspe-86989</string>
	<key>STORAGE_BUCKET</key>
	<string>trspe-86989.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333510438076:ios:b5112306595af46f7474b9</string>
	<key>DATABASE_URL</key>
	<string>https://trspe-86989-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>